<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="logo-container">
                        <img src="/images/mu.png" alt="Logo" class="logo">
                    </div>
                    <h1>Login</h1>
                    <div class="card-body">
                        <form action="/login" method="POST">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Login</button>
                        </form>
                    </div>
                    <p class="forgot-link">Belum punya akun? <a href="/signup">Daftar di sini</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
